@using MyShop.Core.Utilities.Convertors
@model MyShop.Core.ViewModels.Users.InformationUserViewModel
@{
    ViewData["Title"] = " پنل کاربری" + User.Identity.Name;
}

<!DOCTYPE html>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            حساب کاربری @Model.UserName
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/"><i class="fa fa-dashboard"></i> دیجیتال دیوایس</a>
            </li>
            <li class="active">
                <a asp-controller="Account" asp-action="Logout">خروج</a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <partial name="_SideBar" />
                
                <!-- /.box -->
                <!-- SideBar About Me -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">میز کار</h3>
                    </div>

                    <section>
                        @*<header><h3> میز کار </h3></header>*@
                        <div class="inner">
                            <ul>
                                <br />
                                <li><a href=""> مشاهده حساب کابری </a></li>
                                <br />
                                <li><a href=""> ویرایش حساب کابری </a></li>
                                <br />
                                <li><a href=""> تغییر رمز عبور </a></li>
                                <br />
                                <li><a href=""> تنظیمات حساب کاربری </a></li>
                                <br />
                                <li><a asp-controller="Account" asp-action="Logout">خروج از حساب کاربری </a></li>
                                <br />
                            </ul>
                        </div>
                    </section>


                    <!-- /.box-body -->
                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab"><h4 class="text-green">اطلاعات حساب کاربری</h4></a></li>

                    </ul>

                    <br />

                    <section>
                        <div class="inner">
                            <ul>
                                <label><i class="fa fa-user-circle"></i>  نام کاربری : @Model.UserName </label>
                                <br />
                                <br />
                                <label><i class="fa fa-envelope"></i>  ایمیل : @Model.Email </label>
                                <br />
                                <br />
                                <label><i class="fa fa-calendar-check-o"></i>  تاریخ عضویت : @Model.CreateDate.ToShamsi() </label>
                                <br />
                                <br />
                                <label><i class="fa fa-credit-card"></i>  موجودی حساب : @Model.Wallet </label>
                                <br />
                                <br />
                            </ul>
                        </div>
                    </section>

                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>


