@using MyShop.Domain.Entities.Permissions
@using MyShop.Domain.Entities.Users
@model MyShop.Domain.Entities.Users.Role
@{
    ViewData["Title"] = "ویرایش نقش";
    List<Role> roles = ViewData["Roles"] as List<Role>;
    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;

}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>افزودن نقش جدید | کنترل پنل</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>


<section class="content-header">
    <h1>ویرایش نقش</h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index" asp-area=""><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">داشبرد</li>
    </ol>
</section>
<br />


<div class="row">
    <div class="col-sm-12">
        <form method="post" enctype="multipart/form-data" asp-antiforgery="true">
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ویرایش نقش @Model.RoleTitle
                    </div>

                    <div class="panel-body">
                        <input type="hidden" asp-for="@Model.RoleId" />
                        <input type="hidden" asp-for="@Model.IsDelete" />
                        <div class="form-group">
                            <label>عنوان نقش</label>
                            <input type="text" asp-for="@Model.RoleTitle" class="form-control">
                        </div>

                        @*<span asp-validation-for="UserName" class="text-danger"></span>*@

                        <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            دسترسی های نقش
                        </div>

                        <div class="panel-body">
                            @{
                                List<int> SelectedPermissions = ViewData["SelectedPermissions"] as List<int>;
                            }
                            <ul>
                                @foreach (var permission in permissions.Where(p => p.ParentID == null))
                                {
                                <li>
                                    <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p => p == permission.PermissionId) ? "checked" : "")) value="@permission.PermissionId" /> @permission.PermissionTitle

                                    @if (permissions.Any(p => p.ParentID == permission.ParentID))
                                    {
                                        <ul>
                                            @foreach (var sub in permissions.Where(p => p.ParentID == permission.PermissionId))
                                            {
                                                <li>
                                                    <input type="checkbox" @((SelectedPermissions.Any(p=>p==sub.PermissionId)?"checked":"")) name="SelectedPermission" value="@sub.PermissionId"/> @sub.PermissionTitle

                                                    @if (permissions.Any(p => p.ParentID == sub.ParentID))
                                                    {
                                                        <ul>
                                                            @foreach (var sub2 in permissions.Where(p => p.ParentID == sub.PermissionId))
                                                            {
                                                            <li>
                                                                <input type="checkbox" @((SelectedPermissions.Any(p => p == sub2.PermissionId) ? "checked" : "")) name="SelectedPermission" value="@sub2.PermissionId" /> @sub2.PermissionTitle
                                                            </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div asp-validation-summary="All" class="text text-danger"></div>
    </div>
</div>

