@using MyShop.Core.Utilities.Convertors
@model MyShop.Core.ViewModels.Users.InformationUserViewModel
@{
    ViewData["Title"] = " پنل کاربری " + User.Identity.Name;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">دیجیتال دیوایس</a></li>
            <li class="breadcrumb-item active" aria-current="page"> پنل کاربری </li>
        </ul>
    </nav>
</div>

    <main class="profile-user-page default">
        <div class="container">
            <div class="row">
                <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12">
                                <h1 class="title-tab-content">اطلاعات شخصی</h1>
                            </div>
                            <div class="content-section default">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">نام کاربری :</span>
                                            <span>@Model.UserName</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">پست الکترونیک :</span>
                                            <span>@Model.Email</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">تاریخ عضویت :</span>
                                            <span>@Model.CreateDate.ToShamsi()</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">موبایل :</span>
                                            <span>@Model.Mobile</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">موجودی حساب :</span>
                                            <span>@Model.Wallet</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>
                                            <span class="title">وب سایت :</span>
                                            <span>@Model.WebSite</span>
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <p>
                                            <span class="title">بیوگرافی :</span>
                                            <span>@Model.Bio</span>
                                        </p>
                                    </div>
                                    <br/>

                                </div>
                            </div>
                        </div>

                    </div>
                    @*<div class="row">
                        <div class="col-12">
                            <h1 class="title-tab-content">آخرین سفارش ها</h1>
                        </div>
                        <div class="col-12 text-center">
                            <div class="content-section pt-5 pb-5">
                                <div class="icon-empty">
                                    <i class="now-ui-icons travel_info"></i>
                                </div>
                                <h1 class="text-empty">موردی برای نمایش وجود ندارد!</h1>
                            </div>
                        </div>
                    </div>*@
                </div>
                <partial name="_SideBar" />
            </div>
        </div>
    </main>